* {
  font-family: "Rangile";
  color: white;
  font-weight: 300;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

p {
  font-size: 1rem !important;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  display: none;
}
@media (max-width: 600px) {
  body {
    display: flex;
  }
}

header {
  text-align: center;
  margin-bottom: 20px;
}
header img {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}
header h1 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  height: 40px;
}
header h1 span {
  color: #E6332A;
}
header p {
  font-family: "Montserrat", serif;
  font-weight: bolder;
}

nav {
  width: 80%;
  position: fixed;
  bottom: 10px;
  background-color: #202020;
  z-index: 9;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
nav .nav-pricipal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav .nav-pricipal a {
  text-decoration: none;
}
nav .nav-pricipal a section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .nav-pricipal a section img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .nav-pricipal a section p {
  font-size: 1.2rem !important;
  margin-top: -10px;
}
nav .nav-pricipal section {
  margin-bottom: 0px;
}

.nav-secundario {
  width: 90%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-secundario a {
  background-color: #E6332A;
  display: flex;
  border-radius: 10px;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.2rem;
  text-decoration: none;
}
.nav-secundario img {
  width: 90%;
  border-radius: 20px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 5px;
  width: 45%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.product img {
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product p {
  font-family: "Montserrat", serif;
  color: white;
  font-weight: 600;
  display: block;
  font-size: 1rem !important;
  border-radius: 8px;
  text-align: left;
}
.product p:nth-child(3) {
  color: white;
  padding: 0 0;
  font-size: 2rem !important;
  font-family: "Rangile" !important;
  font-weight: lighter;
  border-top: 2px solid red;
  padding-top: 10px;
  border-radius: 0;
}

section {
  margin-bottom: 40px;
  width: 100%;
}
section .titulo {
  width: 100%;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 0;
}
section .irAtodo {
  font-family: "Rangile";
  text-align: center;
  background-color: #E6332A;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
  text-decoration: none;
}

#listaProductos {
  margin-bottom: 20px;
}
#listaProductos .masMenos {
  font-size: 48px !important;
  font-weight: 800;
}

#destacadoDulces,
#destacadoSalado {
  margin-bottom: 20px;
}
#destacadoDulces .product,
#destacadoSalado .product {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#destacados-dobles,
#destacados-simple,
#dulces,
#destacadoDulces,
#bebidas,
#seccionDulce,
#listaDulces,
#seccionCafe,
#seccionSalado,
#destacadoSalado,
#listaCafe,
#listaBebidas,
#listaDulces,
#listaSalados,
#listaTe,
#otrosLiquidos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

#seccionCafe img,
#seccionDulce img {
  width: 90px;
}

#destacados-simple img,
#destacadoDulces img {
  width: 100%;
}

#bebidas,
#listasCafe,
#listaBebidas,
#listaCafe,
#listaDulces,
#listaSalados,
#listaTe,
#otrosLiquidos {
  gap: 20px;
  margin-bottom: 20px;
}
#bebidas .product,
#listasCafe .product,
#listaBebidas .product,
#listaCafe .product,
#listaDulces .product,
#listaSalados .product,
#listaTe .product,
#otrosLiquidos .product {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 0 !important;
  gap: 20px;
  border-bottom: 1px dotted white;
  border-radius: 0;
}
#bebidas .product p,
#listasCafe .product p,
#listaBebidas .product p,
#listaCafe .product p,
#listaDulces .product p,
#listaSalados .product p,
#listaTe .product p,
#otrosLiquidos .product p {
  width: 48% !important;
}
#bebidas .product p:nth-child(2),
#listasCafe .product p:nth-child(2),
#listaBebidas .product p:nth-child(2),
#listaCafe .product p:nth-child(2),
#listaDulces .product p:nth-child(2),
#listaSalados .product p:nth-child(2),
#listaTe .product p:nth-child(2),
#otrosLiquidos .product p:nth-child(2) {
  font-family: "Rangile";
  letter-spacing: 2px;
  font-size: 1.5rem !important;
  width: 40% !important;
  text-align: right;
}

#cartaCompleta {
  width: 100%;
  margin-bottom: 0;
}
#cartaCompleta .titulo {
  margin-bottom: 0;
}

.accordion {
  width: 100%;
}
.accordion li {
  list-style: none;
  margin: 0;
}

.accordion-trigger {
  border: 1px solid white;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.accordion-trigger:hover {
  cursor: pointer;
  text-align: left;
}

footer {
  width: 100%;
  margin-bottom: 130px;
}
footer a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 60px;
  filter: invert(1);
}/*# sourceMappingURL=fudo.css.map */